ul {
    list-style-type: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.mobile-menu-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    transition: all 400ms ease;
}

.mobile-menu-container.active {
    left: 0;
}

.close-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
}

.mobile-menu-container.active .close-icon {
    opacity: 1;
    pointer-events: auto;
}
.mobile-menu-container ul li {
    margin: 30px 0;
    text-align: center;
}

.mobile-menu-container ul li a {
    color: #fff;
    font-size: 18px;
}